certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
python-dotenv==0.15.0
enum34==1.1.10
Flask==1.1.2
flask-api==2.0
gTTS==2.2.1
halo==0.0.30
idna==2.10
ifaddr==0.1.7
log-symbols==0.0.14
lxml==4.6.1
marshmallow==3.10.0
netdisco==2.8.2
numpy==1.19.2
pvporcupine==1.9.3
PyAudio==0.2.11
pygame==2.0.1
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.24.0
scipy==1.5.3
six==1.15.0
SpeechRecognition==3.8.1
spinners==0.0.24
termcolor==1.1.0
uPnPClient==0.0.8
urllib3==1.25.11
webargs==7.0.1
webrtcvad==2.0.10
Werkzeug==1.0.1
word2number==1.1
zeroconf==0.28.6
