certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
deepspeech-tflite==0.8.2
enum34==1.1.10
Flask==1.1.2
halo==0.0.30
idna==2.10
ifaddr==0.1.7
log-symbols==0.0.14
lxml==4.6.1
netdisco==2.8.2
numpy==1.19.2
PyAudio==0.2.11
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.24.0
scipy==1.5.3
six==1.15.0
spinners==0.0.24
termcolor==1.1.0
uPnPClient==0.0.8
urllib3==1.25.11
webrtcvad==2.0.10
Werkzeug==1.0.1
zeroconf==0.28.6
